@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --ff-sync: 'Syncopate', sans-serif;
  --ff-popp: 'Poppins', sans-serif;

  --primaryColor: #de0001;
  --mainWhite: #fff;
  --mainBlack: #27231f;
  --mainGrey: #464646;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: var(--ff-popp);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainBlack);
  border-radius: 2rem;
}

/* --------------- Navbar ---------------- */
.navbar {
  /* position: sticky;
  top: 0; */
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  z-index: 1;
}
.navbar-center {
  width: min(100% - 2rem, 71rem);
  margin-inline: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-logo {
  width: 5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -0.4rem;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
  font-size: 0.9rem;
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 150px);
  background: url('./images/parker-burchfield-tvG4WvjgsEY-unsplash.jpg') top
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #27231fa2;
  backdrop-filter: blur(2px);
}
.banner {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 2;
}
.banner-title {
  font-size: clamp(2.28rem, 0.7941rem + 6.3399vw, 6.5rem);
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  font-family: var(--ff-sync);
  width: min(100% - 0rem, 70rem);
  margin-inline: auto;
}

.banner .go-down-btn {
  width: 2rem;
  position: absolute;
  bottom: -4rem;
  filter: invert(1);
  animation: goDown 1.5s infinite ease-in-out;
  animation-delay: 1.5s;
}

@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: clamp(1.3rem, 1.0535rem + 1.0516vw, 2rem);
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-family: var(--ff-sync);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
  place-items: center;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 20rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  /* height: 100%; */
}

.products-center:nth-child(6) .img-container img {
  height: initial;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: capitalize;
  padding: 0.5rem 0.75rem;
  /* font-weight: 600; */
  color: var(--mainWhite);
  letter-spacing: calc(var(--mainSpacing) - 0.08rem);
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  background-color: var(--mainWhite);
  color: var(--primaryColor);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 1rem;
  /* letter-spacing: var(--mainSpacing); */
  text-align: center;
  font-family: var(--ff-sync);
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: #27231f92;
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
  background: var(--mainWhite);
  padding: 1rem;
  transition: var(--mainTransition);
  display: none;
  flex-direction: column;
  z-index: 10;
}

.cart::-webkit-scrollbar {
  width: 0.3rem;
}

.cart::-webkit-scrollbar-thumb {
  background-color: #de000048;
  border-radius: 2rem;
}

.showCart {
  /* transform: translateX(0); */
  display: flex;
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  /* letter-spacing: var(--mainSpacing); */
  margin-bottom: 2rem;
}

.clear-cart {
  border: 0;
  outline: 0;
  width: 12rem;
  padding-block: 0.5rem;
  background-color: var(--primaryColor);
  border-radius: 0.2rem;
  font: 500 1rem var(--ff-popp);
  color: var(--mainWhite);
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
